beautifulsoup4==4.12.3
blinker==1.9.0
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
cryptography==43.0.3
cssmin==0.2.0
cssselect2==0.7.0
cssutils==2.11.1
defusedxml==0.7.1
Deprecated==1.2.14
dicttoxml==1.7.16
docx==0.2.4
docx2pdf==0.1.8
fire==0.7.0
flask==3.0.3
fonttools==4.54.1
google-api-core==2.23.0
google-api-python-client==2.153.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
gunicorn==23.0.0
html5lib==1.1
httplib2==0.22.0
idna==3.10
importlib-metadata==8.5.0
inflect==7.4.0
itsdangerous==2.2.0
jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
more-itertools==10.5.0
numpy==2.0.2
opencv-python-headless==4.10.0.84
packaging==24.2
pdf2docx==0.5.8
pdf2image==1.17.0
pdfminer.six==20231228
pikepdf==9.4.1
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.28.3
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
PyMuPDF==1.24.13
pyparsing==3.2.0
pypdf==5.1.0
pypdf2==3.0.1
python-docx==1.1.2
pytube==15.0.0
requests==2.32.3
rsa==4.9
six==1.17.0
soupsieve==2.6
termcolor==2.5.0
tinycss2==1.4.0
tqdm==4.67.0
typeguard==4.4.1
typing-extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
waitress==3.0.2
webencodings==0.5.1
werkzeug==3.1.3
wrapt==1.16.0
xmltodict==0.14.2
zipp==3.21.0
