{% extends 'base.html' %}

{% block title %}JPG to PNG{% endblock %}

{% block styles %}
	<style>
		.converted_Image{
            width: 400px;
            height: 225px;
            margin-top: 10px;
        }

		button, .btn {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 10px 15px;
        margin: 10px 5px;
        border: none;
        cursor: pointer;
        text-decoration: none;
		}	

		button:hover, .btn:hover {
        background-color: #45a049;
		}
		/* Animation for the heading */
        @keyframes fadeIn {
            from {
                opacity: 0; /* Start invisible */
                transform: translateY(-20px); /* Move up slightly */
            }
            to {
                opacity: 1; /* Fully visible */
                transform: translateY(0); /* Back to original position */
            }
        }

        h1 {
            text-align: center;
            color: #2c3e50;
            margin-bottom: 30px; /* Reduced margin */
            font-size: 2.5em;
            animation: fadeIn 1s ease-in-out; /* Apply animation */
			margin-top: 75px;
        }
	</style>
{% endblock %}

{% block content %}
	<h1>Convert JPG to PNG</h1>
	<p>Easily convert JPG image to PNG online.</p>
    <form method="POST" enctype="multipart/form-data">
		<label for="image_file">Upload Image:</label>
        <input type="file" name="image_file" accept=".jpg, .jpeg" required>
		<br>
		<br>
        <button type="submit">Upload and Convert</button>
    </form>
    
    {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
	{% else %}
		{% if png_image_path %}
			<h2>Converted Image:</h2>
			<img src="{{ url_for('download_file', filename=png_image_filename) }}" class="converted_Image">
			<br>
			<br>
			<a href="{{ url_for('download_file', filename=png_image_filename) }}" download>
				<button>Download PNG Image</button>
			</a>
		{% endif %}
   {% endif %}
{% endblock %}