{% extends 'base.html' %}

{% block title %}CSS Minify{% endblock %}

{% block styles %}
	<style>	
        button, .btn {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 10px 15px;
        margin: 10px 5px;
        border: none;
        cursor: pointer;
        text-decoration: none;
		}	

		button:hover, .btn:hover {
        background-color: #45a049;
		}
		
		/* Animation for the heading */
        @keyframes fadeIn {
            from {
                opacity: 0; /* Start invisible */
                transform: translateY(-20px); /* Move up slightly */
            }
            to {
                opacity: 1; /* Fully visible */
                transform: translateY(0); /* Back to original position */
            }
        }

        h1 {
            text-align: center;
            color: #2c3e50;
            margin-bottom: 30px; /* Reduced margin */
            font-size: 2.5em;
            animation: fadeIn 1s ease-in-out; /* Apply animation */
			margin-top: 75px;
        }
       textarea {
			width: 50%; /* Set width to 50% */
			height: 200px; /* Adjust height as needed */
			display: block; /* Ensure it's a block element for centering */
			box-sizing: border-box; /* Include padding/border in width calculation */
			font-size: 1rem; /* Set font size for readability */
			resize: vertical; /* Allow users to resize vertically */
			margin-left: 5px;
		}

		/* Adjust for smaller screens using media queries */
		@media (max-width: 768px) {
			textarea {
				width: 70%; /* Wider on medium screens */
				height: 150px; /* Adjust height for smaller devices */
			}
		}

		@media (max-width: 480px) {
			textarea {
				width: 90%; /* Almost full width on very small screens */
				height: 120px; /* Further reduce height for small screens */
			}
		}
		
		.result img {
			width:200px;
			height:200px;
			}
	</style>
{% endblock %}

{% block content %}
        <h1>QR Code Generator</h1>
		<p>Easily create customizable QR Codes and save them as images.</p>
        <form method="POST">
            <textarea type="text" name="data" placeholder="Enter text or URL" required></textarea>
            <button type="submit">Generate QR Code</button>
        </form>

        {% if error %}
        <div class="result" style="background-color: #f8d7da; color: #721c24;">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        {% if qr_code_img %}
        <div class="result">
            <h3>Generated QR Code:</h3>
            <img src="data:image/png;base64,{{ qr_code_img }}" alt="QR Code"><br>
			{% if qr_code_filename %}
				<a href="{{ url_for('download_file', filename=qr_code_filename) }}" download>
					<button>Download QR Code</button>
				</a>
            {% endif %}
        </div>
        {% endif %}
{% endblock %}
