{% extends 'base.html' %}

{% block title %}Paid Tools{% endblock %}

{% block styles %}
   <style>
		.container h1 {
			text-align: center;
			color: #2c3e50;
			font-size: 2.5em;
			animation: fadeIn 1s ease-in-out;
			margin-top: 75px;
		}
		
		.container h4 {
			text-align: center;
			color: #34495e;
			font-size: 1.2em;
		}

		.container p {
			text-align: center;
			color: #16a085;
			font-size: 1.1em;
			margin-top: 20px;
		}

		/* Animation for the heading */
        @keyframes fadeIn {
            from {
                opacity: 0; /* Start invisible */
                transform: translateY(-20px); /* Move up slightly */
            }
            to {
                opacity: 1; /* Fully visible */
                transform: translateY(0); /* Back to original position */
            }
        }

		/* Styling for the link */
		.container a {
			display: inline-block;
			margin-top: 20px;
			font-size: 1.2em;
			color: #2980b9;
			text-decoration: none;
			border: 2px solid #2980b9;
			padding: 10px 20px;
			border-radius: 5px;
			transition: background-color 0.3s, color 0.3s;
		}

		.container a:hover {
			background-color: #2980b9;
			color: white;
		}

		/* Container for the content */
		.container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}

		/* Add spacing between elements */
		.container .content {
			margin-top: 50px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Welcome to Paid Tools</h1>
		<h5>This is the protected page where paid tools will be accessible.</h5>
		<div class="content">
			<p>Paid Tools:</p>
			<a href="{{ url_for('download_tools', filename='PDF_TO_IMAGE_APP-1.0-win64.msi') }}" download>Download Pdf To Image Application</a>
		</div>
	</div>
{% endblock %}
